*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
  text-decoration: none;
}

main{
  margin: 0 2rem;
}
body{
  width: 100vw;
  font-family:"Raleway", sans-serif;
  background-color: #f5f5f5;
  margin: 5rem 0;
}

h2{
  text-align: center;
  margin: 1rem 0;
}
h3{
  margin: 1rem 0;
}

form fieldset{
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5rem;
  width: 25rem;
  border: 1px solid #555;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  margin: auto;

}
.search-form legend, .search-form input{
  text-align: center;
  margin: auto;
}

form fieldset .ingredients-input-container{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
form fieldset .ingredients-input-container input{
  display: block;
  width: 150px;
  justify-content: center;
  align-items: center;
}

form fieldset select{
  margin-bottom: 1rem;
}
form fieldset label{
  margin-top: 1rem;
}
fieldset button{
  width: 80px;
  margin: 1rem 0;
  padding: 0.4rem;
  color: green;
  border: 1px solid green;
  border-radius: 5px;
  background-color: #fff;
}

form fieldset textarea{
  margin-bottom: 1rem;
  padding: 0.3rem;
  font-family: inherit;
}
form fieldset input, select{
  height: 2rem;
  padding: 0.3rem;
  font-family: inherit;
  border-radius: 5px;
}

legend{
  color: #000;
}
.submit-button{
  height: 3rem;
  background-color: green;
  color: #fff;
  border-radius: 25px;
  min-width: 10rem;
  font-weight: bold;
  margin: auto;

}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color:  #1f1f1f ;
  width: 100vw;
  text-align: center;
  color: #fff;
  font-size: medium;
}
footer a{
  color: #fff;
}

progress{
  margin: auto;
  display: block;

}

@media only screen and (max-width: 475px){
 form fieldset{
    width: fit-content;
  }
  form fieldset input, select {
    width: 100%;
}

}


