*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
  text-decoration: none;
}


.App{
  /* display: flex; */
  /* flex-wrap: wrap;
  justify-content: center; */
  /* margin: 7rem 2rem; */
  
  /* justify-content: space-between; */
}
main{
  /* width: 100%; */
  /* display: flex;
  justify-content: center; */
  /* flex-wrap: wrap; */
  margin: 0 2rem;
  /* justify-content: space-between; */
}
body{
  width: 100vw;
  font-family:"Raleway", sans-serif;
  background-color: #f5f5f5;
  margin: 5rem 0;
}

h2{
  text-align: center;
  /* padding: 0.5rem 0; */
  margin: 1rem 0;
}
h3{
  margin: 1rem 0;
}


form fieldset, .preview{
  margin: 0.3rem;
}

form fieldset{
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5rem;
  width: 25rem;
  border: 1px solid #555;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  margin: auto;

}
.search-form legend, .search-form input{
  text-align: center;
  margin: auto;
}

form fieldset .ingredients-input-container{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
form fieldset .ingredients-input-container input{
  display: block;
  width: 150px;
  justify-content: center;
  align-items: center;
}

form fieldset select{
  margin-bottom: 1rem;
}
form fieldset label{
  margin-top: 1rem;
}
fieldset button{
  width: 80px;
  margin: 1rem 0;
  padding: 0.4rem;
  color: green;
  border: 1px solid green;
  border-radius: 5px;
  background-color: #fff;
}

form fieldset textarea{
  margin-bottom: 1rem;
  padding: 0.3rem;
  font-family: inherit;
}
form fieldset input, select{
  height: 2rem;
  padding: 0.3rem;
  font-family: inherit;
  border-radius: 5px;
}

legend{
  color: #000;
}
.submit-button{
  height: 3rem;
  background-color: green;
  color: #fff;
  border-radius: 25px;
  min-width: 10rem;
  font-weight: bold;
  margin: auto;

}

.preview{
  flex-basis: 60%;
  width: 24rem;
  height: auto;
  padding: 1rem;

  color: #1f1f1f;
  font-size: 16px;
  font-family: courier, monospace;
  border: 1px solid #dedede;
  font-family: courier, monospace;
  background-color: #f5f5f5;
}
.preview li{
  margin: 1rem;
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 5px;
  height: auto;
  padding: 10px;
}

.preview li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}

.lines{
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 495px;
  margin-left: 40px;}

.messagepreview{
  display: flex;
  text-indent: 0;
  padding: 5px;
  word-break: break-all;
  margin: 0;
  
}



.notes h2{
  text-align: unset;
}

.notes ul{
  padding: 1rem;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color:  #c14705 ;
  width: 100vw;
  text-align: center;
  color: #fff;
  font-size: small;

}

progress{
  margin: auto;
  display: block;

}

@media only screen and (max-width: 475px){
 form fieldset{
    width: fit-content;
  }
}

