*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  
  /* justify-content: space-between; */
}
body{
  font-family:"Raleway", sans-serif;
  background-color: #f5f5f5;
  margin: 5rem;
 

}
h2{
  text-align: center;
  padding: 0.5rem;
}
p{
  font-weight: bold;
}

form, .preview{
  margin: 0.3rem;
}

form{
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5rem;
  width: 16rem;
  border: 1px solid #555;
  color: #fff;
  background-color: maroon;
  border-radius: 5px;

}
form select{
  margin-bottom: 1rem;
}
form label{
  margin-top: 1rem;
}

form textarea{
  margin-bottom: 1rem;
}
form input, select{
  height: 2rem;
  padding: 0.3rem;
  font-family: inherit;
}
.submit-button{
  height: 3rem;
  background-color: green;
  color: #fff;
  border-radius: 25px;
  min-width: 10rem;
  font-weight: bold;
  margin: auto;

}

.preview{
  flex-basis: 60%;
  width: 24rem;
  height: auto;
  padding: 1rem;

  color: #1f1f1f;
  font-size: 16px;
  font-family: courier, monospace;
  border: 1px solid #dedede;
  font-family: courier, monospace;
  background-color: #f5f5f5;
}
.preview li{
  margin: 1rem;
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 5px;
  height: auto;
  padding: 10px;
}

.preview li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}

.lines{
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 495px;
  margin-left: 40px;}

.messagepreview{
  display: flex;
  text-indent: 0;
  padding: 5px;
  word-break: break-all;
  margin: 0;
  
}

.recipes{
  flex-basis: 50%;
  margin: 2rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #1f1f1f;
  color: white;
  min-width: 200px;
  

}

.notes h2{
  text-align: unset;
}

.notes ul{
  padding: 1rem;
}

footer{
  position: absolute;
  bottom: 0;
  padding: 1rem;
  background-color: maroon;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: small;

}